<aside class="w-60 h-full bg-[#1f2937] text-white flex flex-col shrink-0 shadow-lg">
  <div class="px-4 py-5 border-b border-[#374151]">
    <app-nav-section-label label="Menú principal" />
  </div>
  <nav class="flex flex-col gap-1 p-3 flex-1">
    <app-nav-item route="/usuarios" label="Usuarios">
      <svg class="w-5 h-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
    </app-nav-item>
    <app-nav-item route="/vehiculos" label="Vehículos">
      <svg class="w-5 h-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M8 17a2 2 0 100 4 2 2 0 000-4zm8 0a2 2 0 100 4 2 2 0 000-4zM3 7h18l-2 6H5L3 7zM1 4h4" />
      </svg>
    </app-nav-item>
    <app-nav-item route="/suscripciones" label="Suscripciones">
      <svg class="w-5 h-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
      </svg>
    </app-nav-item>
    <app-nav-item route="/viajes" label="Viajes">
      <svg class="w-5 h-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-1.447-.894L15 9m0 8V9m0 0L9 7" />
      </svg>
    </app-nav-item>
        <app-nav-item route="/reportes" label="Reportes">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M4 2 H14 L20 8 V22 Q20 22 19 22 H5 Q4 22 4 21 V3 Q4 2 4 2 Z"/>
        <path d="M14 2 V8 H20"/>
        <line x1="7" y1="13" x2="17" y2="13"/>
        <line x1="7" y1="16" x2="17" y2="16"/>
        <line x1="7" y1="19" x2="13" y2="19"/>
      </svg>
    </app-nav-item>
  </nav>
</aside>
